/*TODO: this css is terrible - it should be rewritten entirely   */

@media (max-aspect-ratio: 1/1) {
    /* ================================================================================*/
    #topMenu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 150px;
        margin: 0;

        background-color: dimgrey;
        box-shadow: 5px 5px  10px grey;
    }

    #backToMenu {
        position: fixed;
        margin: 10px;
        /* padding: 5px 5px;*/
        top: 30px;
        left: 10px;
        /*width: 300px;*/
    }

    .backToMenuLink {
        color: white;

        text-align: center;
        text-decoration: none;
        font-size: 40px;
        font-family: "Noto Sans";
    }

    #topLogo {

        position: fixed;
        margin: 3px;
        top: 10px;
        right: 210px;


        height: 50px;
        width: 200px;
    }

    .topLogoText {
        margin: 0px;
        padding: 0px;

        /*height: 20px;*/

        color: white;

        text-align: center;

        font-size: 90px;
        font-family: 'Basic', sans-serif;
    }

    /* ================================================================================*/




    #mainBox {

        margin-top: 170px;

        display: flex;
        flex-direction: column-reverse; /*
        align-items: flex-start;
        justify-content: space-around;
        /*max-width: 90%;*/
    }

    div.box {

        /*
        height: 50%;
        width: 40%;
        padding: 20px;
        /*margin: 20px;*/

        padding: 10px;
        margin: 10px;

        flex-basis: 40%;


        /*height: 50%;*/

        background-color: darkgrey;
        box-shadow: 5px 5px 10px grey;


    }

    div.buttons {
        display: flex;
        flex-direction: column;


    }

    .word {
        display: flex;
        justify-content: center;
    }

    #displayedWord {
        font-size: 70px;
        font-family: "Noto Sans";
        color: white;
    }

    .button {
        background-color: grey;
        border: none;
        color: white;

        margin: 15px;
        /*margin-top: 5px;*/

        padding: 35px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 50px;
        font-family: "Noto Sans";

        box-shadow: 1px 1px 5px grey;
    }


    #rightBox {
        /*
        display: flex;
        justify-content: center;
        */
        align-self: center;
    }


    iframe.videoBox {

        border: none;
        min-width: 100%;
        height: 100%;

        /*
        width: 90%;
        height: 90%;
        */

    }

}

@media (min-aspect-ratio: 1/1) {

    #topMenu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        margin: 0;

        background-color: dimgrey;
        box-shadow: 5px 5px  10px grey;
    }

    #backToMenu {
        position: fixed;
        margin: 10px;
        /* padding: 5px 5px;*/
        top: 5px;
        left: 10px;
        /*width: 300px;*/
    }

    .backToMenuLink {
        color: white;

        text-align: center;
        text-decoration: none;
        font-size: 16px;
        font-family: "Noto Sans";
    }

    #topLogo {
        /*
        position: fixed;
        margin: 3px;
        top: 0px;
        left: 30px;
        */
        margin-left: auto;
        margin-right: auto;
        height: 20px;
    }

    .topLogoText {
        margin: 0px;
        padding: 0px;

        /*height: 20px;*/

        color: white;

        text-align: center;

        font-size: 36px;
        font-family: 'Basic', sans-serif;
    }



    #mainBox {
        margin-top: 70px;

        display: flex;
        /*align-items: flex-start;*/
        justify-content: space-around;
        align-items: flex-start;

    }

    div.box {

        /*
        height: 50%;
        width: 40%;
        padding: 20px;
        /*margin: 20px;*/

        padding: 10px;
        margin: 10px;

        flex-basis: 40%;
        /*height: 50%;*/

        background-color: darkgrey;
        box-shadow: 5px 5px 10px grey;


    }

    #leftBox {
        /*flex: 1;*/
    }

    #rightBox {
        display: flex;
        justify-content: center;
        height: 170px;

    }

    .word {
        display: flex;
        justify-content: center;
    }

    #displayedWord {
        font-size: x-large;
        font-family: "Noto Sans";
        color: white;
    }

    div.buttons {
        display: flex;
        justify-content: center;
    }

    .button {
        background-color: grey;
        border: none;
        color: white;
        margin: 10px;
        padding: 15px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-family: "Noto Sans";

        box-shadow: 1px 1px 5px grey;
    }

    .button:hover {
        background-color: dimgrey;
    }


    #footer {
        position: fixed;
        width: 100%;
        bottom: 10px;

    }

    #signature {
        width: 150px;
        margin-left: auto;
        margin-right: auto;

        font-size: 16px;
        font-family: "Noto Sans";
    }

    #aboutFilms1 {
        width: 420px;
        margin-left: auto;
        margin-right: auto;

        font-size: 12px;
        font-family: "Noto Sans";
    }

    #aboutFilms2 {
        width: 1300px;
        margin-left: auto;
        margin-right: auto;

        font-size: 10px;
        font-family: "Noto Sans";
    }



    iframe.videoBox {

        border: none;
        flex-basis: 90%;
        /*
        align-items: center;
        width: 90%;
        height: 90%;
        */
    }
}

/* RIGHT BOX DESPERATE RESPONSIVE DESIGN */

@media (min-height: 400px) {
    #rightBox {
        height: 200px;
        /*width: 750px;*/
    }
}

@media (min-height: 600px) {
    #rightBox {
        height: 300px;
        /*width: 750px;*/
    }
}


@media (min-height: 700px) {
    #rightBox {
        height: 400px;
        width: 750px;
    }
}
